@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap');

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Almendra', serif;
  overflow: hidden;
}

.wall {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 200vh;
  background-image: url("../img/old_paper.jpg");
  text-align: center;
}

.maj {
  font-family: 'Almendra SC', serif;
}

/* background-image: url("../img/old_paper.jpg"); */

h1 {
  position: absolute;
  top: 8vw;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  font-size: 12vw;
  color: rgb(255, 162, 0);
  -webkit-text-stroke: 0.01vw rgb(89, 21, 21);
  letter-spacing: 0.3vw;
  font-family: 'Almendra SC', serif;

}

.wall button.play {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vw;
  border-width: 0.5vw;
  background-color: rgb(89, 21, 21);
  border-color: rgb(255, 162, 0);
  font-family: 'Almendra', serif;
  position: absolute;
  top: 27vw;
  bottom: 13vw;
  right: 39vw;
  left: 39vw;
  color: rgb(255, 162, 0);
  font-size: 6.5vw;
  cursor: pointer;
}


@keyframes slideDownFadeIN {
  from {
    top: -500px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

/* Foncer l'arrière-plan de la fenêtre modale */
.modal {
  display: none;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
}

#id01 img {
  margin-top: -4vw;
  width: 40vw;
  padding-left: 30vw;
}

/* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */


/* la fenêtre modale  */
.modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

/* Le contenu de la modale */
.modal-dialog .modal-content {
  margin: auto;
  position: relative;
  padding: 0;
  outline: 0;
  text-align: justify;
  width: 100%;
  height: 100%;
  animation-name: slideDownFadeIN;
  animation-duration: 1s;
}

/* Bouton servant à fermer la fenêtre modale */
.container .closebtn {
  text-decoration: none;
  float: right;
  font-size: 3vw;
  font-weight: bold;
  color: rgb(89, 21, 21);
  position: absolute;
  top: 16.5vw;
  left: 66vw;
  right: 34vw;
  bottom: 67.5vw
}

.closebtn:hover,
.closebtn:focus {
  color: #975f00;
  text-decoration: none;
  cursor: pointer;
}

.modal .firstname {
  position: absolute;
  top: 25vw;
  right: 0;
  left: 40vw;
  bottom: 0;
  width: 60vw;
  padding: 0;
  margin: 0;
}

input#name {
  width: 15vw;
  height: 2vw;
  background: none;
  border-color: rgb(0, 0, 0);
  border-radius: 1vw;
  text-align: center;
}

input::placeholder {
  text-align: center;
  color: #444444;
  font-size: 1vw;
}

.fname {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -5.5vw;
  right: 41vw;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

label {
  font-size: 2.7vw;
  width: 11.5vw;
  text-align: center;
  color: rgb(89, 21, 21);
  -webkit-text-stroke: 0.08vw rgb(89, 21, 21);
}

.fname #imgEnter {
  opacity: 0;
  width: 20.5vw;
  position: absolute;
  top: 14vw;
  right: 0vw;
  left: 1.1vw;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.container a {
  width: 1vw;
}

.fname p {
  position: absolute;
  top: 13.5vw;
  right: 0;
  left: 3.7vw;
  bottom: 0;
  color: #591515;
  -webkit-text-stroke: 0.08vw #591515;
  font-size: 4vw;
}

#enter {
  background-color: rgba(0, 0, 0, 0);
  color: #591515;
  border: none;
  font-family: 'Almendra', serif;
  position: absolute;
  font-size: 4vw;
  top: 16.5vw;
  right: 0;
  left: 0.6vw;
  bottom: 0;
  width: 17vw;
  height: 5vw;
  cursor: pointer;
}

#intro {
  display: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 200vw;
  background-image: url("../img/old_paper.jpg");
  flex-direction: column;
  color: rgb(89, 21, 21);
  letter-spacing: 0.15vw;
}

#lettrine {
  margin: 0;
  padding: 0;
  height: 9vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#intro img {
  width: 9vw;
  height: 9vw;
  margin: 4vw 0 0 10vw;
}

#intro p {
  margin: 0;
  padding: 0;
  font-size: 2.8vw;
}

#p {
  width: 100vw;
  height: 100vw;
  margin-top: 4vw;
}

#txt {
  margin: 5vw 0 0 10vw;
}

#msg {
  margin: 5vw 0 0 10vw;
  font-size: 2.8vw;
}

.return #clic2 {
  width: 15vw;
  margin-left: 10vw;
  transform: rotate(180deg) rotateX(180deg);
}

.return #clic3 {
  width: 15vw;
  margin-left: 48vw;
}

#no {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #591515;
  border: none;
  font-family: 'Almendra', serif;
  position: absolute;
  font-size: 4vw;
  top: 39.4vw;
  right: 0;
  left: 10vw;
  bottom: 0;
  width: 17vw;
  height: 5vw;
}

#yes {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #591515;
  border: none;
  font-family: 'Almendra', serif;
  position: absolute;
  font-size: 4vw;
  top: 39.4vw;
  right: 0;
  left: 71.5vw;
  bottom: 0;
  width: 17vw;
  height: 5vw;
}

#game {
  display: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 50vw;
}


#next #frame {
  position: absolute;
  width: 100vw;
  height: 49vw;
  z-index: 1;
}

#next #castle {
  width: 100vw;
  height: 48vw;
  padding-top: 0.3vw;

}

#kl {
  position: absolute;
  top: 25vw;
  bottom: 0;
  left: -3vw;
  right: 0;
  width: 17%;
}

#kr {
  position: absolute;
  top: 25vw;
  bottom: 0;
  left: 85vw;
  right: 0;
  width: 17%;
}

#dl {
  position: absolute;
  top: 11.7vw;
  bottom: 0;
  left: -20vw;
  right: 0;
  width: 37%;
}

#dr {
  position: absolute;
  top: 11.7vw;
  bottom: 0;
  left: 85vw;
  right: 0;
  width: 37%;
}


#pl {
  position: absolute;
  top: 26vw;
  bottom: 0;
  left: 3vw;
  right: 0;
  width: 9.5%;
}

#pr {
  position: absolute;
  top: 26vw;
  bottom: 0;
  left: 90vw;
  right: 0;
  width: 9.5%;
}

#gamer {
  text-transform: uppercase;
  font-size: 3vw;
  color: #deb025;
  z-index: 11;
  position: absolute;
  top: 0.3vw;
}

#heude {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 4vw;
  z-index: 10;
  position: absolute;
  top: 2vw;
  left: 31vw;
  right: 0;
  bottom: 0;
  color: #deb025;
}

.dest {
  z-index: 9;
  position: absolute;
  top: -0.8vw;
  left: 57vw;
  right: 0;
  bottom: 0;
  width: 15vw;
  height: 4vw;
  font-size: 3vw;
  color: #deb025;
}

.jeu {
  z-index: 12;
  position: absolute;
  top: 36.5vw;
  left: 8.5vw;
  right: 0;
  bottom: 0;
  width: 25vw;
  height: 4vw;
  font-size: 3.5vw;
  color: #deb025;
}


.modal {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 13;
}

#id02 .choose {
  width: 65vw;
  position: absolute;
  top: -22vw;
  left: 20vw;
  right: 0;
  bottom: 0;
}

.box img {
  width: 15vw;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0vw;
  left: 0;
}

.profileP {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 15vw;
  height: 15vw;
  position: absolute;
  top: 17vw;
  left: 25vw;
}

.profileD {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 15vw;
  height: 15vw;
  position: absolute;
  top: 17vw;
  left: 43vw;
}

.profileK {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 15vw;
  height: 15vw;
  position: absolute;
  top: 17vw;
  left: 61vw;
}

.box button:active {
  transform: scale(1.2);
}

.result {
  border: solid black 1px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

/* la fenêtre modale  */
.modalchoose-dialog {
  display: table-cell;
  vertical-align: middle;
}

@keyframes slideDownFadeIN {
  from {
    top: -500px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

/* Le contenu de la modale */
.modalchoose-dialog .modalchoose-content {
  margin: auto;
  position: relative;
  padding: 0;
  outline: 0;
  text-align: justify;
  width: 100%;
  height: 100%;
  animation-name: slideDownFadeIN;
  animation-duration: 1s;
}

/* Bouton servant à fermer la fenêtre modale */
.containerchoose .closebtn2 {
  text-decoration: none;
  float: right;
  font-size: 3vw;
  font-weight: bold;
  color: rgb(89, 21, 21);
  position: absolute;
  top: 16.5vw;
  left: 66vw;
  right: 34vw;
  bottom: 67.5vw;
}

.closebtn2:hover,
.closebtn2:focus {
  color: #975f00;
  text-decoration: none;
  cursor: pointer;
}

.modal .firstname {
  position: absolute;
  top: 25vw;
  right: 0;
  left: 40vw;
  bottom: 0;
  width: 60vw;
  padding: 0;
  margin: 0;
}

input#name {
  width: 15vw;
  height: 2vw;
  background: none;
  border-color: rgb(0, 0, 0);
  border-radius: 1vw;
  text-align: center;
}

input::placeholder {
  text-align: center;
  color: #444444;
  font-size: 1vw;
}

.fname {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -5.5vw;
  right: 41vw;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

label {
  font-size: 2.7vw;
  width: 11.5vw;
  text-align: center;
  color: rgb(89, 21, 21);
  -webkit-text-stroke: 0.08vw rgb(89, 21, 21);
}

.fname #clic {
  opacity: 0;
  width: 20.5vw;
  position: absolute;
  top: 14vw;
  right: 0vw;
  left: 1.1vw;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.containerchoose a {
  width: 1vw;
}

.fname p {
  position: absolute;
  top: 13.5vw;
  right: 0;
  left: 3.7vw;
  bottom: 0;
  color: #591515;
  -webkit-text-stroke: 0.08vw #591515;
  font-size: 4vw;
}

.result {
  z-index: 200;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 3.2vw;
  left: 5.2vw;
  width: 4vw;
  height: 4vw;
  text-align: center;
  border: none;
  color: #ffea00;
  font-weight: 100;
  -webkit-text-stroke: 0.1vw #591515;
  font-size: 5vw;

}


.resultbot {
  z-index: 200;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 3vw;
  left: 29vw;
  width: 4vw;
  height: 4vw;
  text-align: center;
  border: none;
  color: #ffea00;
  font-weight: 100;
  -webkit-text-stroke: 0.1vw #591515;
  font-size: 5vw;
}

.restart {
  display: none;
  z-index: 3001;
  position: absolute;
  top: 17.6vw;
  left: 47vw;
  background-color: #44444400;
  border: none;
  font-size: 1.6vw;
  font-family: 'Almendra', serif;
  color: #deb025;
}

.leftToRight {
  transition: 1.2s ease-in-out;
  transform: translate(30VW);
}
.rightToLeft {
  transition: 1.2s ease-in-out;
  transform: translate(-30VW);
}

.moyenneP {
  position: absolute;
  right: 16vw;
  top: 2.2vw;
  font-size: 2.5vw;
}
.moyenneB {
  position: absolute;
  top: 2.2vw;
  left: 39vw;
  font-size: 2.5vw;
}

.winLost img {
  z-index: 3000;
  width: 20vw;
  position: absolute;
  top: 10vw;
  left: 40vw;
}

.win {
  display: none;
}

.lost {
  display: none;
}

.equality {
  display: none;
}

.anim {
  width: 100vw;
  height: 50vw;
}

.anim img {
  z-index: 3002;
}

@keyframes move {
  0%{
    offset-distance: 0%;
  }
  100%{
    offset-distance: 100%;
  }
}

.fireL {
  display: block;
  position: absolute;
  left: 39vw;
  top: 23vw;
  width: 7vw;
  offset-path: path('m.28.41c50.67,35.09,105.85,57.46,166.33,64.84,60.11,8.32,115.05,31.36,166.33,64.84');
  offset-rotate: 0deg;
  animation: move 2s;
}

.heartL {
  display: block;
  position: absolute;
  left: 41.7vw;
  top: 24vw;
  width: 1vw;
  offset-path: path('m.45,97s97-200,200,0c117,255,180,0,180,0');
  offset-rotate: 0deg;
  animation: move 3s;
}


.beerL {
  display: block;
  transform: rotatey(180deg) rotate(-30deg);
  position: absolute;
  left: 34.6vw;
  top: 17vw;
  width: 3vw;
  offset-path: path('m.48,285.72C66.44,47.77,340.9-95.2,470.69,75.08');
  offset-rotate: 0deg;
  animation: move 1.5s linear;
}

.fireR {
  display: block;
  position: absolute;
  left: 41vw;
  top: 23vw;
  width: 7vw;
  offset-path: path('m332.93.41c-50.67,35.09-105.85,57.46-166.33,64.84C106.49,73.57,51.55,96.61.27,130.09');
  offset-rotate: 0deg;
  animation: move 3s linear;
}

.heartR {
  display: block;
  position: absolute;
  left: 36vw;
  top: 24vw;
  width: 1vw;
  offset-path: path('m395.5,93.26s-97.08-208.71-202.62,0C68.41,339.4.48,93.26.48,93.26');
  offset-rotate: 0deg;
  animation: move 3s;
}

.beerR {
  display: block;
  transform: rotate(-30deg);
  position: absolute;
  left: 35vw;
  top: 17vw;
  width: 3vw;
  offset-path: path('m470.61,285.72C404.65,47.77,130.19-95.2.4,75.08');
  offset-rotate: 0deg;
  animation: move 1.5s linear;
}